{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block header -%}
    Lista de Usuarios
{% endblock %}
{% block body -%}
    <div class="col-xs-12">
        <div class="count">
            <p >
  Total de registros <span class="badge">{{ pagination.getTotalItemCount }}</span>
</p>
            
        </div>
<div class="frame">
                   {{ form(form) }}
              </div>
        <table  class="table table-striped">
        <thead>    
            <tr>
            {# sorting of properties based on query components #}
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                <th{% if pagination.isSorted('a.username') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Usuario', 'a.username') }}</th>
                <th{% if pagination.isSorted('a.email') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Email', 'a.email') }}</th>
                <th>Nombre completo</th>
                <th>Roles</th>
                <th>Acciones</th>
            </tr>
        
        </thead>
        <tbody>
            {# table body #}
            {% for entity in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ entity.id }}</td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.fname }} {{ entity.lname }}</td>
                <td>{% for item in entity.roles %} {{ item }} {% endfor %} </td>
                <td>
                   <a class="btn btn-xs btn-success" href="{{ path('edit_user', { 'id': entity.id }) }}">editar</a>
                    </td>
            </tr>
        {% endfor %}
        </table>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>


        {# app.security.getToken().getUser().getUsername() #}
        {{ dump(app.security.getToken().getUser()) }}
        

        <ul>
        <li>
            <a href="{{ path('create_user') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    </div>
{% endblock %}